<b><h1>FUNÇÕES</h1></b>

In [2]:
# RETORNO DE DOIS VALORES

def minha_funcao(numero): 
   x = numero * 2
   y = numero / 2
   return x, y

n1 = 10
print(minha_funcao(n1))

print(minha_funcao(45))

dobro, metade = minha_funcao(8)
print(dobro)
print(metade)

(20, 5.0)
(90, 22.5)
16
4.0

In [ ]:
# FUNÇÃO QUE RECEBE DOIS PARÂMETROS

def media(x, y):  
   m = (x + y)/2
   return m

num1 = 4
num2 = 8

print(media(num1, num2))

mediafinal = media(2, 4)
print(mediafinal)

6.0
3.0

In [4]:
# FUNÇÃO QUE NÃO RETORNA VALORES

def imprime_msg(var):
    print(f"Olá, {var}, seja bem-vindo(a)!!!")


nome = input("Digite seu nome:")
imprime_msg(nome)

Digite seu nome:Kennyo
Olá, Kennyo, seja bem-vindo(a)!!!

In [ ]:
#FUNÇÃO COM UM VALOR DEFAUT( A PASSAGEM DO VALOR NÃO É OBRIGATÓRIA)

def teste_default(num1, num2, calcula=False):
    ''' Documentação Função: num1 e num2 inteiros, o parâmetro 'calcula' é opcional booleano ''' #documentação da função
    
    print(f"Valores informados: {num1} e {num2}")
    if calcula:
       print("A soma dos valores é:", num1 + num2)


teste_default(10, 20, True)

Valores informados: 10 e 20
A soma dos valores é: 30

In [ ]:
# *ARGS = FUNÇÃO QUE PODE RECEBER UM CONJUNTO DE VALORES. O NÚMERO DE ELEMENTOS NÃO É FIXO.

def exibir_valores(*args):
    
    total_elementos = len(args)
    print("O número total de valores recebidos é:", total_elementos )

    for i in args:
       print("Elemento:", i)

exibir_valores(2, 4, 6, 10)

O número total de valores recebidos é: 4
Elemento: 2
Elemento: 4
Elemento: 6
Elemento: 10

In [ ]:
#FUNÇÃO LAMBDA (ANÔMIMA)
#SOMA

soma_lambda = lambda n1, n2: n1 + n2

X = 10
Y = 5

result = soma_lambda(X,Y)     
print ('Resultado Soma:', result)

print(soma_lambda(2,3))

Resultado Soma: 15
5

In [ ]:
#MÉDIA

media_lambda = lambda n1, n2: (n1 + n2)/2

print(media_lambda(10, 20))

resultado = media_lambda(2, 5)
print(resultado)

15.0
3.5

In [ ]:
#FUNÇÕES LAMBDA (colocando a referência da lista no final da função) E MAP (serve como um FOR para cada item da lista)

valores = [1, 2, 4, 8]

resultado = list(map(lambda x: x ** 2, valores))

print(resultado)
print(type(resultado))

[1, 4, 16, 64]
<class 'list'>

<b><h1>CLASSES</h1></b>

In [6]:
# Classe Pessoa
class Pessoa:
    nome = ""
    cargo = ""
    salario = 0.0

In [7]:
# Objeto "gerente" do tipo Pessoa
gerente = Pessoa()
gerente.nome = "Patrícia"
gerente.cargo = "Gerente de Compras"
gerente.salario = 7000

# Objeto "engenheiro" do tipo Pessoa
engenheiro = Pessoa()
engenheiro.nome = "Carlos"
engenheiro.cargo = "Engenheiro de Produto"
engenheiro.salario = 6400

print(gerente.nome, "é", gerente.cargo, "e seu salário é de R$", gerente.salario,".")
print(engenheiro.nome,"é", engenheiro.cargo, "e seu salário é de R$", engenheiro.salario,".")

Patrícia é Gerente de Compras e seu salário é de R$ 7000 .
Carlos é Engenheiro de Produto e seu salário é de R$ 6400 .

In [14]:
# Classe com método (função)
class Pessoa:
   nome = ""
   cargo = ""
   salario = 0.0

   def calcula_salario(self, salario, bonus):
       return self.salario + self.bonus
   
   
# criação do objeto "dev" do tipo Pessoa
dev = Pessoa()

dev.nome = "Antônio"
dev.cargo = "Desenvolver FullStack"
dev.salario = 5200
dev.bonus = 4500

salario_total = dev.calcula_salario(dev.salario, dev.bonus)

print(f"O salário final de {dev.nome} como {dev.cargo} é de R$ {salario_total}.")

O salário final de Antônio como Desenvolver FullStack é de R$ 9700.

In [16]:
# Utilizando inicializador __init__

class Serie:
    def __init__(self, nome, ano_inicio, temporada):
        self.nome = nome
        self.ano_inicio = ano_inicio
        self.temporada = temporada
      
   
friends = Serie('Friends', 1994, 10)

print(f"A série {friends.nome} de {friends.ano_inicio} tem {friends.temporada} temporadas")

A série Friends de 1994 tem 10 temporadas

**Bibliotecas - Módulos Python**

In [ ]:
# Módulo Math
import math

print(math.sqrt(9))

3.0

In [ ]:
from math import sqrt

print(sqrt(9))

3.0

In [ ]:
# Módulo Datetime
from datetime import date 

ano_atual = date.today().year 
print(ano_atual)

2022

In [ ]:
import numpy as np

**Exercícios**


1. Escreva uma função que recebe uma lista de números e calcula a sua média.

2. Crie uma classe Animais com as propriedades nome, raça e ano de nascimento. Esta classe deverá ter um método (função) para calcular a idade (anos) dos animais. Instancie os objetos gato e cachorro.

In [ ]:
# Questão 1
def fmedia(a, b, c, d, e):
  s = a + b + c + d + e
  m = s / 5
  return m
  

media = fmedia(1, 5, 8, 29, 41)

print(media)

16.8

In [ ]:
# Questão 2

# Classe Animais

class Animais:
    nome = ""
    raça = ""
    anonasc = 0.0

    def calcula_idade(self, a):
       idade = 2022 - a
       return idade
   
   
# criação do objeto Cachorro e Gato
cachorro = Animais()

cachorro.nome = "Átila"
cachorro.raça = "Bulldog"
cachorro.anonas = 2015

gato = Animais()

gato.nome = "Kevin"
gato.raça = "Angorá"
gato.anonas = 2018

idade_cachorro = cachorro.calcula_idade(cachorro.anonas)
idade_gato = gato.calcula_idade(gato.anonas)

print(f"O {cachorro.nome} é da raça {cachorro.raça} e tem {idade_cachorro} anos.")
print(f"O {gato.nome} é da raça {gato.raça} e tem {idade_gato} anos.")

O Átila é da raça Bulldog e tem 7 anos.
O Kevin é da raça Angorá e tem 4 anos.